doctype 5
html
  head
    title= title
    meta(charset='utf-8')
    //link(href="http://bootswatch.com/spruce/bootstrap.min.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", rel="stylesheet")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js")
    link(href='http://fonts.googleapis.com/css?family=Domine:700', rel='stylesheet', type='text/css')

    style
      html {height: 100%;}
      body {
        height:100%;
        font-family: 'Domine', serif;
        padding-top: 100px;
      }
      .navbar {height: 80px;}
    block heading

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container(style='background-color: rgb(68, 0, 68); width: 1129px')
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#', style='font-size:30px; margin:5px;margin-left:70px; color: rgb(95, 134, 95)').brand {grapevine}
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='/', style='font-size:15px; margin-top:5px; background-color: rgb(37, 0, 37); color: rgb(200, 240, 200)') Home
              li
                a(href='#', style='font-size:15px; margin-top:5px; color: rgb(100, 120, 100)') About
              li
                a(href='#', style='font-size:15px; margin-top:5px; color: rgb(100, 120, 100)') Contact
    block content