extends layout

block content
  h1= title
  div(id="container")
    each tweet_list, location in tweets
      div(id="wrapper")
        h4 Location: #{location}
        each tweet, i in tweet_list
          p #{tweet}