extends layout

block content
  h1= title
  div(id="container")
    each tweet_properties, tweet in tweets
      div(id="wrapper")
        p #{tweet}
        //- each tweet has sentiment and location properties
        each property, i in tweet_properties
          p #{property}
